<ul>
  <% @website.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>

  <%= f.label "Name:" %><br>
  <%= f.text_field :name %><br>

  <%= f.label "Theme:" %><br>
  <% if @website.theme %>
    <%= f.select :theme, options_for_select(["Select One", "Vertical", "Tabs"], :disabled => ["Select One"], :selected => @website.theme) %><br>
  <% else %>
    <%= f.select :theme, options_for_select(["Select One", "Vertical", "Tabs"], :disabled => ["Select One"], :selected => params[:website][:theme]) %><br>
  <% end %>