<ul>
  <% @website.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>

  <%= f.label "Name:" %><br>
  <%= f.text_field :name, class: 'form-control' %><br>

  <%= f.label "Theme:" %><br>
  <% if @website.theme %>
    <%= f.select :theme, options_for_select(["Select One", "vertical", "tabs"], :disabled => ["Select One"], :selected => @website.theme), class: 'form-control' %><br>
  <% else %>
    <%= f.select :theme, options_for_select(["Select One", "vertical", "tabs"], :disabled => ["Select One"], :selected => params[:website][:theme]), class: 'form-control' %><br>
  <% end %>

  <%= f.label "Tagline:" %><br>
  <%= f.text_field :tagline, class: 'form-control' %><br>

  <%= f.label "Logo:" %><br>
  <%= f.text_field :logo, class: 'form-control' %><br>

  <%= f.label "Background Image:" %><br>
  <%= f.text_field :backgroundimage, class: 'form-control' %><br>

  <%= f.label "Facebook URL:" %><br>
  <%= f.text_field :facebook, class: 'form-control' %><br>

  <%= f.label "Instagram URL:" %><br>
  <%= f.text_field :instagram, class: 'form-control' %><br>

  <%= f.label "Pinterest URL:" %><br>
  <%= f.text_field :pinterest, class: 'form-control' %><br>

  <%= f.label "You Tube URL:" %><br>
  <%= f.text_field :youtube, class: 'form-control' %><br>

  <%= f.label "Twitter URL:" %><br>
  <%= f.text_field :twitter, class: 'form-control' %><br>

  <%= f.label "Footer:" %><br>
  <%= f.text_field :footer, class: 'form-control' %><br>