<% if @websites.theme == 'vertical' %>

  <% @pages.where(:visible => true).sort_by{|page| page.position}.each do |page| %>
  <a name="<%= page.link %>"></a>

    <section id="<%= page.link %>">
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <div class="jumbotron">
            <div class="container">
             <h1><%= page.name %><img src="/assets/<%= @websites.logo %>" width="150" class="logo" ></h1>
             <h4><em>"Where everyone is someone special"</em></h4>

            </div>
          </div>
          <% @sections.where(:visible => true).sort_by{|section| section.position}.each do |section| %>
            <% if (section.page_id == page.id) %>





                    <% if (section.section_type == 'maps') %>
                      <script type="text/javascript">
                        function initialize() {
                          var myLatlng = new google.maps.LatLng( <%= section.content %> );
                          var mapOptions = {
                            center: myLatlng,
                            zoom: 8
                          };
                          var map = new google.maps.Map(document.getElementById('map-canvas'),
                              mapOptions);
                          var marker = new google.maps.Marker({
                              position: myLatlng,
                              map: map,
                              title: '<%= @websites.name %>'
                          });
                        }
                        google.maps.event.addDomListener(window, 'load', initialize);
                      </script>
                      <div id="map-canvas" style="width: 98%; height: 100%"></div>
                    <% else %>
                      <div class="row col-xs-<%= section.columns %> <%= section.name %>">
                        <div class="container-fluid">
                          <div class="well">
                            <%= section.content.html_safe %>
                          </div>
                        </div>
                      </div>
                    <% end %>



            <% end %>
          <% end %>
        </div>
        <div class="col-xs-1"></div>
      </div>
    </section>
  <% end %>

  <nav>
    <ul>
      <% @pages.where(:visible => true).sort_by{|page| page.position}.each do |page| %>
        <li><a href="#<%= page.link %>"><%= page.name %></a></li>
      <% end %>
    </ul>
  </nav>

  <footer>
    <div class="footer">
      <%= @websites.footer %>
    </div>
  </footer>

<% else %>

  <nav>
    <ul>
      <% @pages.where(:visible => true).sort_by{|page| page.position}.each do |page| %>
        <li><a href="#<%= page.link %>"><%= page.name %></a></li>
      <% end %>
    </ul>
  </nav>

  <% @pages.where(:visible => true).sort_by{|page| page.position}.each do |page| %>
  <a name="<%= page.link %>"></a>

    <div id="<%= page.link %>">
     <h1><%= page.name %><img src="/assets/<%= @websites.logo %>" width="150" class="logo" ></h1>
     <h4><em>"Where everyone is someone special"</em></h4>
    <% @sections.where(:visible => true).sort_by{|section| section.position}.each do |section| %>
      <% if (section.page_id == page.id) %>
        <%= section.content.html_safe %>
      <% end %>
    <% end %>
    </div>
  <% end %>

  <footer>
    <div class="footer">
      Copyright © 2015. All Rights Reserved.
    </div>
  </footer>

<% end %>