<ul>
  <% @section.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>

  <%= f.label(:name) %><br>
  <%= f.text_field :name, class: 'form-control' %><br>

  <%= f.label "Section Type:" %><br>
  <% if @section.section_type %>
    <%= f.select :section_type, options_for_select(["Select One", "content", "maps", "calendar", "reviews"], :disabled => ["Select One"], :selected => @section.section_type), class: 'form-control' %><br>
  <% else %>
    <%= f.select :section_type, options_for_select(["Select One", "content", "maps", "calendar", "reviews"], :disabled => ["Select One"]), class: 'form-control' %><br>
  <% end %>

  <%= f.label(:content) %><br>
  <%= f.text_area :content, size: "90%x10%", class: 'form-control' %><br>

  <%= f.label(:position) %><br>
  <%= f.select(:position, 1..@section_count, class: 'form-control') %><br>

  <%= f.label(:columns) %><br>
  <%= f.select(:columns, 1..12, class: 'form-control') %><br>

  <%= f.label(:visible) %><br>
  <%= f.check_box(:visible, class: 'form-control') %><br>