<ul>
  <% @page.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>

  <%= f.label(:name) %><br>
  <%= f.text_field :name, class: 'form-control' %><br>

  <%= f.label(:link) %><br>
  <%= f.text_field :link, class: 'form-control' %><br>

  <%= f.label(:page_type) %><br>
  <%= f.text_field :page_type, class: 'form-control' %><br>

  <%= f.label(:background) %><br>
  <%= f.text_field :background, class: 'form-control' %><br>

  <%= f.label(:position) %><br>
  <%= f.select(:position, 1..@page_count, class: 'form-control') %><br>

  <%= f.label(:visible) %><br>
  <%= f.check_box(:visible, class: 'form-control') %><br>

  <%= f.hidden_field(:website_id, :value => @website.id) %>