<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Admin</h1>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert">
    <%= value %>
  </div>
<% end %>

<%= link_to("<< Back to Main", {:controller => 'admin', :action => 'index'}) %>
<%= yield %>

<%= params %>

</body>
</html>
