<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <br>  
<div class="well container-fluid col-md-8 col-xs-offset-2">
  <h1>Admin</h1>

    <p class="text-right">
      &nbsp;<% if request.env['PATH_INFO'] == "/admin" || request.env['PATH_INFO'] == "/sessions/new" || request.env['PATH_INFO'] == "/login" %><% else %><%= link_to("<< Back to Main", {:controller => 'admin', :action => 'index'}) %> | <% end %>
        <% if request.env['PATH_INFO'] != "/login" %><%= link_to "Logout", :logout %><% end %>
    </p>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert">
      <%= value %>
    </div>
  <% end %>
  <%= yield %>


  <%#= params %>
</div>
</body>
</html>
