<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<style>

<% @pages.each do |page| %>
  <% @pages.sort_by{|page| page.position}.each_with_index do |page, index| %>

  #<%= page.link %> {  
    background: <%= page.background %>;
  }
  body {
    background-image: url('<%= @websites.backgroundimage %>');
  }

  <% end %>
<% end %>

</style>

</head>
<body>

  <%= yield %>


<% if @websites.theme == 'vertical' %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>
   $(document).ready(function(){
     $(window).bind('scroll', function() {
     var navHeight = $( window ).height() - 70;
       if ($(window).scrollTop() > navHeight) {
         $('nav').addClass('fixed');
       }
       else {
         $('nav').removeClass('fixed');
       }
    });
  });
</script>
<% end %>

</body>
</html>
