<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style type="text/css">

  body {
    background-image: url('<%= @websites.backgroundimage %>');
    background-size: cover;
  }

   .content > div {
    display: none;
    height: 85vh;
   }

   input {display: none;}
   label {display: inline-block; padding: 15px 25px; text-align: center;}
   label:hover {background: #ccc;}
   input:checked + label {background: #ccc;}

<% @pages.each do |page| %>

  #<%= page.link %> {  
    background: <%= page.background %>
  }

   #<%= page.link %>tab:checked ~ .content #<%= page.link %>content{
     display: block;
   }

<% end %>

  html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
  #map-canvas { position:absolute;}

</style>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= @key %>"></script>

</head>
<body>

  <%= yield %>

<% if @websites.theme == 'vertical' %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>
   $(document).ready(function(){
     $(window).bind('scroll', function() {
     var navHeight = $( window ).height() - 70;
       if ($(window).scrollTop() > navHeight) {
         $('nav').addClass('fixed');
       }
       else {
         $('nav').removeClass('fixed');
       }
    });
  });
</script>
<% end %>

  <p align="center" class="admin-footer"><%= link_to "Admin Login", {:controller => 'sessions', :action => 'new'} %></p>
</body>
</html>
